body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 99vh;
  margin: 0;
  background-color: #1e1e1e;
  /* Dark background color */
  color: #fff;
  /* Light text color */
}

.controls button:hover {
  background-color: #676767;
}
.controls button:active {
  background-color: #323232;
}
button:hover {
  background-color: #676767;
}
button:active {
  background-color: #323232;
}

.button-wrapper button:hover {
  background-color: #676767;
}
.button-wrapper button:active {
  background-color: #323232;
}

#diceLog {
  position: fixed;
  /* Fixed positioning */
  left: 0;
  /* Align to the left side of the screen */
  top: 0;
  /* Align to the top of the screen */
  max-height: 40vh;
  /* 100% of the viewport height */
  max-width: 18vw;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  text-align: left;
}

.logEntry {
  margin-bottom: 8px;
  /* Adjust the margin between log entries */
  border-bottom: 1px solid #ddd;
  /* Add a slight line to separate entries */
  padding-bottom: 8px;
  /* Add padding at the bottom of each entry */
}

#colorRectangle {
  width: 600px;
  height: 20px;
  border: 1px solid #000;
}

#refreshButton {
  position: fixed;
  bottom: 100px;
  right: 100px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.display-box {
  font-size: 24px;
  padding: 15px;
  border: 2px solid #333;
  cursor: pointer;
  user-select: none;
  margin-bottom: 10px;
  background-color: #333;
  /* Darker box background color */
  color: #fff;
  /* Light text color */
}

.button-container {
  display: flex;
  gap: 10px;
}

.controls button {
  font-size: 18px;
  margin-top: 5px;
  background-color: #555;
  /* Dark button background color */
  color: #fff;
  /* Light text color */
  border: 1px solid #777;
  /* Darker border color */
}

.controls2 {
  display: flex;
  align-items: center;
  /* Center buttons vertically */
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.button-wrapper button {
  font-size: 18px;
  background-color: #555;
  /* Dark button background color */
  color: #fff;
  /* Light text color */
  border: 1px solid #777;
  /* Darker border color */
  /* Add margin between buttons */
}

.image-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  max-height: 170px;
  max-width: 300px;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
  font-size: 80px;
  font-weight: bold;
  text-shadow:
    -2px -2px 2px black,
    2px -2px 2px black,
    -2px 2px 2px black,
    2px 2px 2px black;
  cursor: text;
}

/* Popup Error Message Styles */
.errorMessage {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
  animation: fadeOut 5s ease-in-out forwards;
}

.player-health-container {
  position: fixed;
  margin-left: 80vw;
  margin-bottom: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.player-health-names-container {
  position: fixed;
  margin-left: 65vw;
  margin-bottom: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-row-gap: 53px;
}

.player-health-box {
  margin-bottom: 10px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
  z-index: 9999; /* ensure it appears above other content */
  display: none; /* initially hidden */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 10000; /* ensure it appears above the overlay */
  display: none; /* initially hidden */
}

.popup img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 5vw;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10vw;
  margin-bottom: 5vh;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
